<div class="container">

  <div class="childContainer" *ngIf="!userLoggedIn && !userLogPage">
    <div class="upperContainer">
      <div class="customPosition">
        <mat-card style="max-height: 100%; height:100%; border-radius: 5px; z-index:1; padding: 0;">
          <div class="title-header" fxLayout="row" fxLayoutGap="12px" style="background-color:#27b727; color: white;">
            <span>
              <mat-icon aria-label="Login">account_box</mat-icon>
            </span>
            <span style="box-sizing:border-box; padding-top: 5px;">Sign In</span>
          </div>
          <mat-card-content>
            <form class="signIn-form" fxLayout="column" fxLayoutAlign="space-evenly none" fxLayoutGap="12px"
              [formGroup]="signInFrom" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="errorMatcher" />
                <mat-hint *ngIf="!emailControl?.touched">Please enter your email address</mat-hint>
                <mat-error *ngIf="emailControl?.hasError('email') && !emailControl?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailControl?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password"/>
                <mat-hint *ngIf="!passwordControl?.touched">Password must be at least 6 characters.</mat-hint>
                <mat-error *ngIf="passwordControl.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordControl.hasError('minlength')">
                  Password must be <strong>at least 6 </strong>characters.
                </mat-error>
              </mat-form-field>
              <span></span>
              <span></span>
              <span></span>
              <button mat-raised-button color="primary" type="submit" style="font-size:medium;">Sign In</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div style="flex: 1 1 auto;">

    </div>
  </div>

</div>