<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill class="components-container-gt-xs ">

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">

    <div fxFlex="65" fxLayout="column" class="mat-elevation-z2 record-list-container" style="padding: 12px;">

      <div fxFlex="10" fxLayoutAlign="start center" fxLayout="row">

        <h3 class="mat-headline">Observation Record</h3>

      </div>

      <mat-divider></mat-divider>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between stretch">

        <div fxflex="50" class="full">
          <mat-form-field class="full">
            <input matInput placeholder="search" #searchInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>


        </div>

        <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="addRecord()">Add Record</button>
        </div>

      </div>

      <!-- 
      <div fxFlex="10" class="record-list-header" fxLayout="row" fxLayoutAlign="space-around stretch">

        <div fxFlex="10">
          <mat-checkbox class="checkbox"></mat-checkbox>
        </div>
        <div fxFlex="10">
          <button mat-icon-button>
            <mat-icon>sort</mat-icon>
          </button>
        </div>
        <div fxFlex="10">
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div fxFlex="80" fxLayoutAlign="end center">

          <button mat-raised-button>ADD TAGS</button>

        </div>

      </div> -->
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" class="record-list-container">

        <div class="record-list">
          <perfect-scrollbar>
            <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
              matSortDisableClear [ngStyle]="{'height': tableHeight}">
              <!-- Material table HTML -->
              <!-- <ng-container *ngFor="let rec of dataSource.records">

              </ng-container> -->
              <ng-container matColumnDef="field">

                <mat-header-cell *matHeaderCellDef mat-sort-header>Field</mat-header-cell>
                <mat-cell *matCellDef="let records">{{records.fieldName}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="value">

                <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
                <mat-cell *matCellDef="let records">{{records.fieldValue}}</mat-cell>
              </ng-container>
              <div class="mat-table_message" *ngIf="!dataSource.hasItems">No records found</div><!-- Message for empty data  -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button matTooltip="Edit Records" mat-icon-button (click)="editObservation(row)" color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button matTooltip="Delete Records" mat-icon-button (click)="deleteObservation(row)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
          </perfect-scrollbar>
          <div class="spinner-container" *ngIf="dataSource.loading$ | async">

            <mat-spinner [diameter]="35"></mat-spinner>

          </div>
          <div class="mat-table_message" *ngIf="!dataSource.hasItems" style="margin-top: 12px;">No records found</div><!-- Message for empty data  -->
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
            [showFirstLastButtons]="true"></mat-paginator>
          <!-- <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner> -->
        </div>

        <mat-divider></mat-divider>


      </div>


    </div>

    <!-- Observation details panel-->

    <div fxFlex="35" fxLayout="column" class="mat-elevation-z2 record-add">

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between start">

        <h3 class="mat-headline" fxFlex>Observation Details</h3>

      </div>
      <mat-divider></mat-divider>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxFlex="40">
          <h3 class="mat-subheading-2 center-align">Title:</h3>

        </div>
        <div fxFlex="60" fxLayout="column" fxLayoutAlign="center start">
          <h3 class="mat-title">{{observationDetails.title}}</h3>
        </div>


      </div>
      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxFlex="40">
          <h3 class="mat-subheading-2 center-align">Description:</h3>

        </div>
        <div fxFlex="60" fxLayout="column" fxLayoutAlign="center start">
          <h3 class="mat-title">{{observationDetails.description}}</h3>
        </div>


      </div>
      <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxFlex="40">
          <h3 class="mat-subheading-2 center-align">Category:</h3>

        </div>
        <div fxFlex="60" fxLayout="column" fxLayoutAlign="center start">
          <h3 class="mat-title">{{observationDetails.category}}</h3>
        </div>


      </div>
      <div fxLayout="column" fxLayoutAlign="space-between start" style="margin-top: 10px;">

        <div>
          <h3 class="mat-subheading-2 center-align">Fields:</h3>

        </div>
        <perfect-scrollbar>
          <div style="width: 100%; height: 190px; overflow: visible; margin-bottom: 30px;">
            <mat-nav-list fxFlex>
              <mat-list-item *ngFor="let field of fieldsVal">
                <div fxLayout="row" fxLayoutGap="55px" fxLayoutAlign="start space-around">
                  <span fxFlex="125px">{{field.fieldTitle}}</span>
                  <span fxFlex="35px">{{field.fieldType}}</span>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>

            </mat-nav-list>
          </div>
        </perfect-scrollbar>
      </div>

      <mat-divider></mat-divider>
      <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between start">

        <div fxFlex="40">
          <h3 class="mat-subheading-2 center-align">Tags</h3>

        </div>
        <div fxFlex="60" fxLayout="row" fxLayoutAlign="center start">
          <mat-chip-list *ngFor="let tag of observationDetails.tags" style="box-sizing: border-box; padding-right: 5px;">
            <mat-chip color="primary">{{tag}}</mat-chip>
          </mat-chip-list>
        </div>


      </div>

      <!-- <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="50" fxLayout.lt-lg="100">
          <mat-form-field>
            <input matInput placeholder="phone">
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout.lt-lg="100">
          <mat-form-field>
            <input matInput placeholder="Office">
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="10" fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start">
        <div fxFlex="50" fxLayout.lt-lg="100">
          <mat-form-field>
            <input matInput placeholder="skype">
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout.lt-lg="100">
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>
      </div> -->

      <div fxFlex fxLayout="column" fxLayoutAlign="end flex-end">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <button mat-raised-button color="primary" (click)="updateObservation()">Update</button>
        </div>
      </div>
    </div>

  </div>

</div>